@{
    ViewData["Title"] = "Profil adherent";
}
<!DOCTYPE html>
<html lang="en">
<!-- body -->
<body class="main-layout home_page">

    @Html.Partial("_Header")

  
    <div class="borrow mt-5">
        <div class="container">
            <div class="row">

                <div class="col-md-10 offset-md-1">
                    <div class="aboutheading">
                        <h2>Profil <strong class="black">@Model.NomUtilisateur</strong></h2>
                        <!-- Ajoutez ici les autres informations du profil que vous souhaitez afficher -->
                    </div>
                </div>
            </div>
            <form asp-action="UpdateAdherent" class="border">

                <input type="hidden" name="AdherentID" value="@Model.AdherentID" />
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Fname" class="col-md-2 col-form-label">Firstname</label>
                        <div class="col-md-12">
                            <input type="text" class="w-100 p-2" id="Fname" placeholder="Firstname" name="Prenom" value="@Model.Prenom">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Lname" class="col-md-2 col-form-label">Lastname</label>
                        <div class="col-md-12">
                            <input type="text" class="w-100 p-2" id="Lname" placeholder="Lastname" name="Nom" value="@Model.Nom">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="username" class="col-md-2 col-form-label">Username</label>
                        <div class="col-md-12">
                            <input type="text" class="w-100 p-2" id="username" placeholder="Username" name="NomUtilisateur" value="@Model.NomUtilisateur">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="email" class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-12">
                            <input type="email" class="w-100 p-2" id="email" placeholder="Email" name="Email" value="@Model.Email">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="adress" class="col-md-2 col-form-label">Adress</label>
                        <div class="col-md-12">
                            <input type="text" class="w-100 p-2" id="adress" placeholder="Adress" name="Adresse" value="@Model.Adresse">
                        </div>
                    </div>
                </div>

                <div class="form-row text-center">
                    <div class="col-md-6 m-auto">
                        <button type="submit" class="btn btn-warning">Update Information</button>
                    </div>
                </div>
            </form>




        </div>
    </div>


    <!-- footer -->
    @Html.Partial("_Footer")
</body>
</html>

<!-- Log In Button
<a asp-controller="Adherents" asp-action="Index" class="btn btn-primary">Log In</a>
-->
