@{
    ViewData["Title"] = "Our books";
}

<!DOCTYPE html>
<html lang="en">

<!-- body -->
<body class="main-layout home_page">

    <!-- header -->
    @Html.Partial("_Header");
    <!-- end header -->
    <div class="about mt-5">
        <div class="container">
            <div class="row">
                @foreach (var livre in Model)
                {
                    <div class="col-4 p-2">
                        <div class="card">
                            <img src="@livre.WebFriendlyImageCoverUrl" class="card-img-top" alt="@livre.Titre">
                            <div class="card-body">
                                <h5 class="card-title">@livre.Titre</h5>
                                <p class="card-text">Author: @livre.Auteur</p>
                                <p class="card-text">Year: @livre.AnneePublication</p>
                                <p class="card-text">ISBN: @livre.ISBN</p>
                                <p class="card-text">Quantity: @livre.Quantite</p>
                            </div>
                            <div class="card-footer">
                                @if (User.Identity.IsAuthenticated){
                                    <a href="#" class="btn btn-warning my-3">Borrow book</a>
                                }
                                else {
                                    <a asp-controller="Home" asp-action="Login" class="btn btn-warning my-3">Borrow book</a>
                                }
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- footer -->
    @Html.Partial("_Footer");
</body>
</html>

<!-- Log In Button
<a asp-controller="Adherents" asp-action="Index" class="btn btn-primary">Log In</a>
-->
